.gameWrapper10080, .gameWrapper8050, .gameWrapper5030{
  height: 100vh;
}

.topButtonContainer > .d-flex > p {
  margin: 0px; 
}

.topButtonContainer {
  padding: 0px;
  margin: 0px; 
}

.topButtonContainer > .d-flex {
  padding: 0px;
  margin: 0px; 
}

.gridWrapper, .gridWrapper5030, .gridWrapper8050, .gridWrapper10080 {
  position: relative;
  border: 1px solid black;
  padding: 0px; 
}

.gridWrapper5030 {
  height: 302px;
  width: 505px; 
}

.gridWrapper8050 {
  height: 352px;
  width: 563px; 
}

.gridWrapper10080 {
  height: 402px;
  width: 503px; 
}

.component15030, .component05030 {
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px; 
}

.component18050, .component08050 {
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px; 
}

.component110080, .component010080 {
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px; 
}

.component15030, .component18050, .component110080 {
  background-color: blue; 
}

.component05030, .component08050, .component0100800 {
  background-color: lightgrey; 
}

